html {
  overflow: hidden;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  font-family: "Roboto", sans-serif, system-ui;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-active {
  position: absolute;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}

#app {
  gap: 4px;
}
